=render 'dgeq'
.row
  .columns.small-10
    =react_component('app.SainteMarieSaintJacques', titre: 'Sainte-Marie — Saint-Jacques')
  .columns.small-2
    %h4 A venir

//Rosemont, HoMa, SainteMarieSaintJacques,Mercier,LaurierDorion,Gouin
