=render 'dgeq'
.row
  .columns.small-10
    =react_component('app.HoMa', titre: 'Hochelaga-Maisonneuve')
  .columns.small-2
    %h4 A venir

//Rosemont, HoMa, SainteMarieSaintJacques,Mercier,LaurierDorion,Gouin
