.page
  .gauche
    %h3 Élections Québecoise
  .droite
    %p.text-right
      Cartes des résultats
      %i.fa.fa-map-o


.row
  .columns.small-12
    %h5 Montréal
    %ul
      %li=link_to "Rosemont", rosemont_index_path
      %li=link_to "Hochelaga-Maisonneuve", ho_ma_index_path
      %li=link_to "Sainte-Marie — Saint-Jacques", sainte_marie_saint_jacques_index_path
      %li=link_to "Mercier", mercier_index_path
      %li=link_to "Gouin", gouin_index_path
      %li=link_to "Laurier — Dorion", laurier_dorion_index_path

    %h5 Montréal (en projet)
    %ul
      %li Crémazie
      %li Jeanne-Mance — Viger
      %li Viau
      %li Anjou — Louis-Riel
      %li Bourget
      %li Outremont
      %li Saint-Henri — Sainte-Anne

    %h5 Québec (en projet)
    %ul
      %li Jean-Lessage
      %li Taschereau
      %li Jean-Talon
      %li La Pelterie
      %li Louis-Hébert




//Rosemont, HoMa, SainteMarieSaintJacques,Mercier,LaurierDorion,Gouin
