.page
  .gauche
    %h3 Élections Québecoise
  .droite
    %p.text-right
      Cartes des résultats
      %i.fa.fa-map-o

.row
  .columns.small-12.medium-4
    %h5 Laurentides
    %ul
      %li=link_to "Labelle", labelle_index_path

  .columns.small-12.medium-8
.row
  .columns.small-12.medium-4
    %h5 Montréal
    %ul
      %li=link_to "Rosemont", rosemont_index_path
      %li=link_to "Hochelaga-Maisonneuve", ho_ma_index_path
      %li=link_to "Sainte-Marie — Saint-Jacques", sainte_marie_saint_jacques_index_path
      %li=link_to "Mercier", mercier_index_path
      %li=link_to "Gouin", gouin_index_path
      %li=link_to "Laurier — Dorion", laurier_dorion_index_path

    %h5 Montréal (en projet)
    %ul
      %li Crémazie
      %li Jeanne-Mance — Viger
      %li Viau
      %li Anjou — Louis-Riel
      %li Bourget
      %li Outremont
      %li Saint-Henri — Sainte-Anne

  .columns.small-12.medium-8
    xxx

.row
  .columns.small-12.medium-4

    %h5 Québec
    %ul
      %li=link_to  "Jean-Lessage", jean_lesage_index_path
      %li=link_to  "Taschereau", taschereau_index_path

    %h5 Québec (en projet)
    %ul
      %li=link_to  "Jean-Talon", jean_talon_index_path
      %li=link_to  "La Pelterie", la_pelterie_index_path
      %li=link_to  "Louis-Hébert", louis_hebert_index_path
      %li=link_to  "Vanier-Les-Rivières", vanier_les_rivieres_index_path

  .columns.small-12.medium-8
    xxx

.row
  .columns.small-12.medium-4
    %h5 Bas du Fleuve
    %ul
      %li=link_to  "Rimouski", rimouski_index_path

  .columns.small-12.medium-8
    xxx




//Rosemont, HoMa, SainteMarieSaintJacques,Mercier,LaurierDorion,Gouin
